@using BlazorTextboxAsyncHttp.Shared
<h3>CharCount</h3>

@if (Data == null)
{
    <p>Keine Daten</p>
} else
{
    @foreach(var kvp in Data.CharCount)
    {
        <p>@kvp.Key: @kvp.Value</p>
    }
}

@code {
    private Step2Response Data = null;

    public async Task SetDataAsync(Step2Response step2Response)
    {
        Data = step2Response;
        InvokeAsync(StateHasChanged);
    }
}
